* {
    text-decoration: none;
    font-family: cursive;
    color : black;
    text-align:center;
    margin: auto;
  }

.backgroundFull {
    background-color: rgb(182, 195, 221);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(21, 77, 134);
    color: rgb(180, 176, 204);
    transform: rotateY(180deg);
    width: auto;
    height: auto;
  }

.container1 {
    background-color: white;
    border: solid 1px black;
    width: 80%;
    margin: auto;
    text-decoration: none;
    color: black;
}


* {box-sizing:border-box}


.container2 {
  border: solid 1px black;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
  margin: 0;
}

.html {width: 70%; background-color: #04AA6D;} 
.css {width: 60%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.php {width: 75%; background-color: #808080;} 
.SQL {width: 60%; background-color:turquoise;} 

li {

    list-style-type: none;
    display: inline;
    margin: 10px;
    width: auto;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}




ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

nav {
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px

}

li:hover{
    font-weight: bold;
}
  
  li:last-child {
    border-right: none;
}

#parcours {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
    
}

#directparcours {
    margin: 0 auto;
}

#trait_dessus
{
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px
}

.hobbies {
    
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}

.hobbieslogos {
    
    width: 125px;
    height: 60px;
    justify-content:space-around;
    align-items: center;
}

.hobbieslogo img {
    display: block;
}


.contact {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}
.contact:visited {
    color: black;
}

.logo {
    width: 70px;
    height: 70px;
    justify-content:space-around
}

a:visited {
    color: #000;
}

footer{
    
    position: relative;
    background-color:darkslategray;
    color: white;
    text-align: center;
    padding: 15px;
    
}

table {
    border-collapse: separate;
    border: 1px solid rgb(255, 255, 255);
    justify-content: space-between;
    
  }
  
  td {
    border: 1px solid #ffffff;
    padding: 30px;
  }
  
  .ligne1 {
    border-spacing: 50px;
  }
  
  .ligne2 {
    border-spacing: 50px;
  }

.txtContact {
    margin: auto;
    text-align: center;
}

#mail {
    color: black;
}

#mail:visited {
    color: black;
}

.containerHobby {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    ;
  }
  
  .containerItem {
    width : 22%;
  }