.backgroundFull {
    background-color: cornflowerblue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

.container1 {
    background-color: white;
    border: solid 1px black;
    width: 80%;
    margin: auto;
    
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container2 {
  border: solid 1px black;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 70%; background-color: #04AA6D;} /* Green */
.css {width: 60%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 75%; background-color: #808080;} /* Dark Grey */
.SQL {width: 60%; background-color:turquoise;} /* Dark Grey */

li {

    list-style-type: none;
    display: inline;
    margin: 10px;
    width: auto;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}





ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    
}

nav {

    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px

}
  
  li:last-child {
    border-right: none;
  }

#parcours {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
    
}

#trait_dessus
{
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px
}

.hobbies {
    
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}


.contact {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}

.logo {
    width: 70px;
    height: 70px;
}