.backgroundFull {
    background-color: cornflowerblue;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(21, 77, 134);
    color: rgb(180, 176, 204);
    transform: rotateY(180deg);
    width: auto;
    height: auto;
  }

.container1 {
    background-color: white;
    border: solid 1px black;
    width: 80%;
    margin: auto;
    
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container2 {
  border: solid 1px black;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 70%; background-color: #04AA6D;} /* Green */
.css {width: 60%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 75%; background-color: #808080;} /* Dark Grey */
.SQL {width: 60%; background-color:turquoise;} /* Dark Grey */

li {

    list-style-type: none;
    display: inline;
    margin: 10px;
    width: auto;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}





ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    
}

nav {

    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px

}
  
  li:last-child {
    border-right: none;
  }

#parcours {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
    
}

#trait_dessus
{
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.5em;
    padding: 15px
}

.hobbies {
    
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}


.contact {
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 300px;
    line-height:50px;
    color:black;
    text-decoration: none;
    margin: auto;
}

.logo {
    width: 70px;
    height: 70px;
}